# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
03 cubo/potencia/potencia.cbp
03 cubo/potencia/potencia.depend
03 cubo/potencia/potencia.layout
area_do_circulo/circulo/circulo.cbp
Antecesor e sucessor/antecessor/antecessor.cbp
Antecesor e sucessor/antecessor/antecessor.depend
Antecesor e sucessor/antecessor/antecessor.layout
area_do_circulo/circulo/circulo.depend
area_do_circulo/circulo/circulo.layout
área do terreno/area_do_retangulo/area_do_retangulo.cbp
A soma de a+b/soma_a+b/soma_a+b.depend
A soma de a+b/soma_a+b/soma_a+b.layout
área do terreno/area_do_retangulo/area_do_retangulo.layout
A soma de a+b/soma_a+b/soma_a+b.cbp
