# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
03 cubo/potencia/potencia.cbp
03 cubo/potencia/potencia.depend
03 cubo/potencia/potencia.layout
area_do_circulo/circulo/circulo.cbp
Antecesor e sucessor/antecessor/antecessor.cbp
Antecesor e sucessor/antecessor/antecessor.depend
Antecesor e sucessor/antecessor/antecessor.layout
area_do_circulo/circulo/circulo.depend
area_do_circulo/circulo/circulo.layout
área do terreno/area_do_retangulo/area_do_retangulo.cbp
A soma de a+b/soma_a+b/soma_a+b.depend
A soma de a+b/soma_a+b/soma_a+b.layout
área do terreno/area_do_retangulo/area_do_retangulo.layout
A soma de a+b/soma_a+b/soma_a+b.cbp
aula02_entrada/entrada/entrada.cbp
aula02_entrada/entrada/entrada.depend
aula02_entrada/entrada/entrada.layout
carteira de motorista/carteirademotorista/carteirademotorista.cbp
carteira de motorista/carteirademotorista/carteirademotorista.layout
carteira de motorista/carteirademotorista/carteirademotorista.depend
carteira de motorista/carteirademotorista/main.cpp
conceito_do_aluno/conceito_do_aluno/conceito_do_aluno.depend
conceito_do_aluno/conceito_do_aluno/conceito_do_aluno.cbp
contad ate 50/contando_até_50/contando_até_50.cbp
contad ate 50/contando_até_50/contando_até_50.depend
contad ate 50/contando_até_50/contando_até_50.layout
contador 1/contador1/contador1.cbp
contador 1/contador1/contador1.depend
contador 1/contador1/contador1.layout
Contador/contador/contador.cbp
Contador/contador/contador.depend
crescente_de_decrescente/crescente_e_decrescente/crescente_e_decrescente.cbp
crescente_de_decrescente/crescente_e_decrescente/crescente_e_decrescente.depend
crescente_de_decrescente/crescente_e_decrescente/crescente_e_decrescente.layout
default.workspace
default.workspace.layout
divisão por 5/divisaopor_5/divisaopor_5.cbp
divisão por 5/divisaopor_5/divisaopor_5.depend
divisão por 5/divisaopor_5/divisaopor_5.layout
doar sangue/sangue_doar_/sangue_doar_.cbp
doar sangue/sangue_doar_/sangue_doar_.depend
doar sangue/sangue_doar_/sangue_doar_.layout
dobro_de_um_numero/doboronumero/doboronumero.cbp
dobro_de_um_numero/doboronumero/doboronumero.depend
dobro_de_um_numero/doboronumero/doboronumero.layout
dobro_triplo/dobro_triplo/dobro_triplo.depend
dobro_triplo/dobro_triplo/dobro_triplo.cbp
dobro_triplo/dobro_triplo/dobro_triplo.layout
estado_civil/estado/estado.cbp
estado_civil/estado/estado.depend
exe0.11/escolha_casoexe11/escolha_casoexe11.cbp
exe0.11/escolha_casoexe11/escolha_casoexe11.depend
exe0.11/escolha_casoexe11/escolha_casoexe11.layout
exe04/exe04a_b/exe04a_b.cbp
exe04/exe04a_b/exe04a_b.depend
exe04/exe04a_b/exe04a_b.layout
EXE07/EXE07/EXE07.cbp
exe08/exe08/exe08.layout
exe08/exe08/exe08.cbp
exe08/exe08/exe08.depend
EXE07/EXE07/EXE07.layout
EXE07/EXE07/EXE07.depend
estado_civil/estado/estado.layout
exe09/pesoideal1.0/pesoideal1.0.cbp
exe09/pesoideal1.0/pesoideal1.0.depend
exe09/pesoideal1.0/pesoideal1.0.layout
exe12/nota_de_aproveitamento/nota_de_aproveitamento.cbp
exe12/nota_de_aproveitamento/nota_de_aproveitamento.depend
exe12/nota_de_aproveitamento/nota_de_aproveitamento.layout
exercício_facudade01/aula01/aula01.cbp
exercício_facudade01/aula01/aula01.depend
exercício_facudade01/aula01/aula01.layout
ferradura/cavalos/cavalos.cbp
ferradura/cavalos/cavalos.depend
ferradura/cavalos/cavalos.layout
Graus/fahrenheit/fahrenheit.cbp
Graus/fahrenheit/fahrenheit.depend
Graus/fahrenheit/fahrenheit.layout
idade/idadeij/idadeij.cbp
idade/idadeij/idadeij.depend
idade/idadeij/idadeij.layout
impar_par/impar_par/impar_par.cbp
impar_par/impar_par/impar_par.depend
impar_par/impar_par/impar_par.layout
impares 55/impares_ate55/impares_ate55.layout
impares 55/impares_ate55/impares_ate55.depend
impares 55/impares_ate55/impares_ate55.cbp
IMC001/imc/imc.layout
IMC001/imc/imc.depend
IMC001/imc/imc.cbp
le_3_valores_menor/menor/menor.cbp
le_3_valores_menor/menor/menor.depend
le_3_valores_menor/menor/menor.layout
maior-valor-menor-valor/maiorValor-menorValor/maiorValor-menorValor.cbp
maior-valor-menor-valor/maiorValor-menorValor/maiorValor-menorValor.layout
media/media/media.cbp
media/media/media.depend
media/media/media.layout
MEnu Call/menu/menu.cbp
nadador/idadenadador/idadenadador.depend
Média das notas de varias pessoas/Média de N pessoas/Média de N pessoas.layout
nadador/idadenadador/idadenadador.cbp
Média das notas de varias pessoas/Média de N pessoas/Média de N pessoas.depend
Média das notas de varias pessoas/Média de N pessoas/Média de N pessoas.cbp
numero_qualquer/numeroqualquer/numeroqualquer.cbp
numero_qualquer/numeroqualquer/numeroqualquer.depend
numero_qualquer/numeroqualquer/numeroqualquer.layout
operação de 3 valores/operacaoA_B_C/operacaoA_B_C.cbp
operação de 3 valores/operacaoA_B_C/operacaoA_B_C.depend
operação de 3 valores/operacaoA_B_C/operacaoA_B_C.layout
pares entre 1 e 100/pares_100/pares_100.cbp
MEnu Call/menu/menu.depend
Contador/contador/contador.layout
pares entre 1 e 100/pares_100/pares_100.layout
pares entre 1 e 100/pares_100/pares_100.depend
parimpar02/parimpar/parimpar.layout
parimpar02/parimpar/parimpar.depend
String/dados_pessoais/dados_pessoais.depend
String/dados_pessoais/dados_pessoais.cbp
parimpar02/parimpar/parimpar.cbp
testedouble/testereal/testereal.cbp
testes/teste/teste.cbp
testes/teste/teste.layout
testes/teste/teste.depend
tipos e modificadores/vtipos/vtipos.cbp
tipos e modificadores/vtipos/vtipos.layout
verdadeOUFalse/verdade_ouF/verdade_ouF.layout
verdadeOUFalse/verdade_ouF/verdade_ouF.depend
verdadeOUFalse/verdade_ouF/verdade_ouF.cbp
votar/votabrasil/votabrasil.layout
votar/votabrasil/votabrasil.cbp
votar/votabrasil/votabrasil.depend
